p {
    font-size: 21px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.story-block {
    justify-content: center;
    text-align: center;
}


.horizontal-photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
}

.highlights {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.kate-background {
    background-image: url('./people/Kate/kate-background.jpg');
    background-size: cover;
    background-position: center;
}

.background-readable-cover {
    margin-right: 248px;
    margin-left: 248px;
    padding: 80px;
    background-color: white;
    opacity: 0.97;
}

@media (max-width: 768px) {
    .background-readable-cover {
        margin-right: 16px;
        margin-left: 16px;
        padding: 18px;
    }
}