*{
    font-family:helvetica;
}
html,body {
    margin: 0px;
    padding: 0px;
}
   
h1 {
    font-size: 40px;
    margin-top:auto;
}
   
   
p, li {
    font-size: 18px;
}


   
a {
    text-decoration: none;
}

header{
    background-color:cornflowerblue;
    padding:20px;
    text-align: center;

}


.thingslist {
    background-color:antiquewhite;
    border-radius:20px;
    padding:15px;
}

.sites {
    background-color:aquamarine;
    border-radius:20px;
    padding:15px;
}
.sites li{
    color: #fff;
    display: inline-block;
    width: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:darkcyan;
    padding:10px;
    border-radius:15px;
}
